<app-home [homeNoteColor]="noteColor"></app-home>
<div class="container-sm mt-4">
    <div class="row justify-content-center">
        <nz-card style="max-width: 720px;">
            <div class="row justify-content-center">
                <nz-card style="max-width: 650px; display: flex; justify-content: center;">
                    <div>
                        <nz-select [(ngModel)]="titleSelect" style="width: 300px; " nzShowSearch nzAllowClear
                            [nzDropdownRender]="renderTemplate" nzPlaceHolder="Select Title">
                            <nz-option *ngFor="let title of titles.reverse()" [nzLabel]="title.title"
                                [nzValue]="title.title"></nz-option>
                        </nz-select>
                        <ng-template #renderTemplate>

                            <div class="container">
                                <input style="margin-top: 5px;" type="text" nz-input placeholder="New Title"
                                    [(ngModel)]="newTitle" />
                                <button (click)="addTitle(newTitle)" style="margin-top: 10px; margin-bottom: 10px;"
                                    nz-button nzType="primary">
                                    Add
                                </button>

                                <nz-alert style="margin-bottom: 10px;" *ngIf="newTitleErrorEmpty" nzType="error"
                                    nzMessage="Title cannot be empty." nzShowIcon> </nz-alert>

                                <nz-alert style="margin-bottom: 10px;" *ngIf="newTitleErrorExists" nzType="error"
                                    nzMessage="This title already exists." nzShowIcon> </nz-alert>
                            </div>
                        </ng-template>

                    </div>

                    <textarea maxlength="500" [(ngModel)]="newNote" style="margin-top: 10px;" nz-input
                        placeholder="My Note" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>

                    <div>

                        <div style="float: left;">
                            <button (click)="addNote(newNote,titleSelect)"
                                style="margin-top: 10px; height: 40px; width: 75px;" nz-button nzType="primary">
                                Save
                            </button>
                        </div>

                        <div style="float:left; margin-left: 5px;">
                            <nz-alert style="margin-top: 10px;" *ngIf="titleSelectErrorEmpty" nzType="error"
                                nzMessage="Title cannot be empty." nzShowIcon> </nz-alert>

                            <nz-alert style="margin-top: 10px;" *ngIf="newNoteErrorEmpty" nzType="error"
                                nzMessage="Note cannot be empty." nzShowIcon> </nz-alert>

                            <nz-alert style="margin-top: 10px;" *ngIf="newNoteSaved" nzType="success"
                                nzMessage="Your note has been saved." nzShowIcon> </nz-alert>
                        </div>
                    </div>

                </nz-card>
            </div>

            <nz-collapse *ngIf="titles.length > 0" nzAccordion
                style="margin-top: 20px; overflow-y: auto; max-height: 350px; ">
                <nz-collapse-panel *ngFor="let title of titles" [nzExtra]="deleteTitleButton" [nzHeader]="Header">
                    <ng-template #deleteTitleButton>

                        <a (click)="deleteTitle(title.id)" (click)="$event.stopPropagation()"> <i
                                class="fa-solid fa-xmark" style="color: #000000;"> </i> </a>
                    </ng-template>
                    <ng-template #Header>
                        <strong> {{title.title}}</strong>
                    </ng-template>

                    <nz-card nzType="inner" style="margin-top: 20px; margin-bottom: 20px;"
                        *ngFor="let noteKey of title.notes | keyvalue" [nzTitle]="createdAt">
                        <ng-container *ngIf="isNoteObject(noteKey.value)">
                            <p style="word-wrap: break-word;"> {{noteKey.value.note }}</p>

                            <div style="display: flex; justify-content: flex-end;">
                                <button (click)="deleteNote(title.id, noteKey.key)" 
                                        nz-button nzType="primary" nzDanger>Delete</button>
                            </div>
                        </ng-container>

                        <ng-template #createdAt>
                            <ng-container *ngIf="isCreatedAtObject(noteKey.value)">
                                <strong> {{noteKey.value.createdAt }} </strong>
                            </ng-container>

                        </ng-template>

                    </nz-card>

                    <nz-alert  *ngIf="(title.notes ?? []).length === 0" nzType="warning"
                        nzMessage="No notes found in {{title.title}} title" nzShowIcon></nz-alert>

                </nz-collapse-panel>
            </nz-collapse>

            <div *ngIf="titles.length === 0" class="container "
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <nz-empty [nzNotFoundContent]="null"> </nz-empty>
                <nz-alert style="width: 200px;" nzType="warning" nzMessage=" No titles available" nzShowIcon></nz-alert>
            </div>

        </nz-card>
    </div>
</div>